@import "tailwindcss";


:root {
  --branco: #fefefe;
  --bege: #cac1b2;
  --chumbo: #3f382e;
  --vinho: #3e1407;
  --fonte-titulo: "Bodoni Moda", serif;
  --fonte-texto: "Poppins", sans-serif;
}

.container {
  @apply flex flex-col w-[calc(100%-16px)] mx-2 max-w-[1200px] items-center justify-center z-10;
}

.shadowFull {
  @apply shadow-[0_0_15px_5px_rgba(0,0,0,0.2)];
}


html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--fonte-texto)
}

#preloader {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bege);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid var(--branco); 
  border-top-color: var(--vinho); 
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#preloader p {
  color: var(--vinho);
  margin-top: 10px;
  font-size: 1.2em;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#preloader.hidden {
  opacity: 0;
  visibility: hidden;
}


