@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600&family=Poppins:wght@300;400;500;600&display=swap");
@import "tailwindcss";


:root {
  --branco: #fefefe;
  --bege: #cac1b2;
  --chumbo: #3f382e;
  --vinho: #3e1407;
  --fonte-titulo: "Bodoni Moda", serif;
  --fonte-texto: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bege);
  font-family: var(--fonte-texto)
}

.container {
  @apply flex flex-col w-[calc(100%-16px)] mx-2 max-w-[1200px] items-center justify-center z-10;
}

.shadowFull {
  @apply shadow-[0_0_15px_5px_rgba(0,0,0,0.1)];
}
